<%- include('../cabecalho.ejs') %>
<form method="post">
    Nome<br> 
    <input type="text" name="nome" placeholder="Digite o nome da peca.">
    <br><br>
    descricao<br>
    <input type="text" name="descricao" placeholder="Digite a descricao.">
    <br><br>
    fabricante<br>
    <input type="text" name="fabricante" placeholder="Digite o nome do fabricante.">
    <br><br>
    codigo<br>
    <input type="text" name="cod" placeholder="Digite o codigo.">
    <br><br>
    preco<br>
    <input type="number" name="preco" placeholder="Digite o preço.">
    <br><br>


    <input type="submit" value="Adicionar">
</form>
<%- include('../rodape.ejs') %>