<%- include('../cabecalho.ejs') %>
<form method="post" >
    Nome<br> 
    <input type="text" name="nome" placeholder="Digite seu nome.">
    <br><br>
    Email<br>
    <input type="email" name="email" placeholder="Digite seu email.">
    <br><br>
    telefone<br>
    <input type="text" name="telefone" placeholder="Digite seu telefone.">
    <br><br>
    endereco<br>
    <input type="text" name="endereco" placeholder="Digite o endereco da oficina.">
    <br><br>
    propretario<br>
    <input type="text" name="proprietario" placeholder="Digite o nome do dono.">
    <br><br>
    cnpj<br>
    <input type="text" name="cnpj" placeholder="Digite seu cnpj.">
    <br><br>
    
    <input type="submit" value="Adicionar">
</form>
<%- include('../rodape.ejs') %>